.loginContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loginBox {
  height: fit-content;
}

.loginBox td {
  padding: 15px;
}

.loginBox button {
  padding: 5px;
}
