.loginContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #1b1b1b;
}

.loginBox {
  height: fit-content;
  border: solid 2px;
  border-radius: 5px;
  color: white;
  padding: 15px;
}

.loginBox td {
  padding: 15px;
}

.loginBox button {
  padding: 5px;
}
